{% extends 'base.html.twig' %}

{% block settings %}
    <div id="settings" >
        {{ comp.date|date('Y-m-d') }}

    </div>
{% endblock %}

{% block body %}
    <h1 class="title"></h1>
    <h3 class="date"></h3>

    <a href="results.php" target="_blank">Results</a>
    <div class="input-content">

        {{ form_row(form.name) }}
        {{ form_row(form.result) }}
        {{ form_row(form.total) }}
        {{ form_row(form.specChal) }}
        {{ form_row(form.sex) }}
        {{ form_row(form.pro) }}
        {{ form_row(form.comp) }}

        {% set numberOfRoutes = comp.numberOfRoutes %}


        <div class="score" id="score-top"></div>
        {% include 'contents/buttons.html.twig' %}
        <p class="score"></p>
        <div class="entry-buttons">
            <button class="clear">Clear</button>        {{ form_row(form.Submit) }}

        </div>
    </div>
    <p class="output"></p>
{% endblock %}

